<!-- main -->
<div class="agileits-main"> 
    <div class="agileinfo-row">
            
        <div class="w3layouts-errortext" style="text-align: center;">
            <h2 style="font-size: 500px;">4<span>0</span>4</h2>
            
            <h1>Sorry! The page you were looking for could not be found </h1>
            <p class="w3lstext">You have been tricked into click on a link that can not be found. Please check the url or go to <a href="admin/main">main page</a> and see if you can locate what you are looking for </p>
        </div>	
    </div>	
</div>	
<!-- //main -->